body{
  text-align: center;
  width: 400px;
  margin: auto;
}

h2{
  margin:0;
}
div{
  display: flex;
  justify-content: space-around;
}

button{
  border-style: none;
  background-color: white;
  cursor: pointer;
}

li{
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

table {
  width: 400px;
}

td{
    border: 1px solid;
}

.today{
  border-color:red;
}